/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}
@layer utilities {
  .card {
    position: relative;
    /* height: 25em; */
    border-radius: 0.5rem;
    /* perspective: 150em; */
  }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    backface-visibility: hidden;
    transition: all 0.6s ease;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  }
  .card__side--front {
    background-color: #fff;
  }
  .card__side--back {
    color: #fff;
    transform: rotateX(180deg);
  }

  .card:hover .card__side--front {
    transform: rotateX(-180deg);
  }
  .card:hover .card__side--back {
    transform: rotate(0);
  }
  .card__description {
    height: 15rem;
    text-transform: uppercase;
    /* font-size: 5em; */
    padding: 1em 0;
  }
  /* .card__description svg {
    width: 1.5em;
    height: 1.5em;
    fill: #fff;
  } */
  .sd {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  .rangeen {
    @apply bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl;
  }
  .bg1 {
    background: rgb(81, 140, 164);
    background: linear-gradient(
      90deg,
      rgba(81, 140, 164, 1) 0%,
      rgba(255, 255, 255, 1) 60%
    );
  }
  .bg2 {
    background: rgb(56, 189, 248);
    background: linear-gradient(
      180deg,
      rgba(56, 189, 248, 1) 0%,
      rgba(255, 255, 255, 1) 60%
    );
  }
  .quiz-bg {
    background: rgb(81, 140, 164);
    background: linear-gradient(
      180deg,
      rgb(81, 140, 164) 0%,
      rgba(255, 255, 255, 1) 76%
    );
  }
}
