/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}
@layer utilities {
  .sd {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  /* .gd {
    background: rgb(149,208,116);
    background: radial-gradient(circle, rgba(149,208,116,1) 0%, rgba(255,255,255,1) 100%);
  } */

  .card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 180px;
    min-height: 180px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
  }
  @media screen and (max-width: 800px) {
    .card {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 500px) {
    .card {
      width: 100%;
    }
  }

  .front,
  .back {
    display: flex;
    /* border-radius: 90px 0px 90px 0px / 120px; */
    background-position: center;
    background-size: cover;
    /* text-align: center; */
    /* justify-content: start; */
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform ease-in-out 600ms;
    /* transition: border ease-in 200ms; */
  }

  .front {
    background-size: cover;
    padding: 1rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
  }
  .front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(135deg, #1a9be6, #1a57e6); */
    opacity: 0.25;
    z-index: -1;
  }
  .card:hover .front {
    transform: rotateX(180deg);
  }
  .card:nth-child(even):hover .front {
    transform: rotateX(-180deg);
  }

  .back {
    background: #fff;
    transform: rotateX(-180deg);
    padding: 0 2em;
  }
  .back .button {
    background: linear-gradient(135deg, #95d074, #6da54d);
    padding: 1rem 2rem;
  }
  .back .button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
  }
  .card:hover .back {
    transform: rotateX(0deg);
  }
  .card:nth-child(even) .back {
    transform: rotateX(180deg);
  }
  .card:nth-child(even) .back .button {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
  }
  .card:nth-child(even) .back .button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
  }
  .card:nth-child(even):hover .back {
    transform: rotateX(0deg);
  }

  .button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
  }
  .button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: "";
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
  }
  .button:hover {
    transform: translateZ(55px);
  }
  .button:hover:before {
    transform: translateZ(-55px);
  }
  .button:active {
    transform: translateZ(20px);
  }
  .button:active:before {
    transform: translateZ(-20px);
    top: 12px;
  }
  /* .card__description svg {
    width: 1.5em;
    height: 1.5em;
    fill: #fff;
  } */
  .sd {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  .rangeen {
    @apply bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl;
  }
  .bg1 {
    background: rgb(81, 140, 164);
    background: linear-gradient(
      90deg,
      rgba(81, 140, 164, 1) 0%,
      rgba(255, 255, 255, 1) 60%
    );
  }
  .bg2 {
    background: rgb(56, 189, 248);
    background: linear-gradient(
      180deg,
      rgba(56, 189, 248, 1) 0%,
      rgba(255, 255, 255, 1) 60%
    );
  }
  .quiz-bg {
    background: rgb(81, 140, 164);
    background: linear-gradient(
      180deg,
      rgb(81, 140, 164) 0%,
      rgba(255, 255, 255, 1) 76%
    );
  }
}
