@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply  !text-gray-900;
    background-color: white !important;
  }
}

@layer utilities {

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card-container {
    width: 300px;
    height: 150px;
    position: relative;
    perspective: 1000px;
  }

  .image-container {
    width: 100% !important;
    position: unset !important;
  }

  .image {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: 100% !important;
  }


  .hero-section {
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }

  @media (min-width: 540px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 960px) {
    .card-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .card2 {
    list-style: none;
    position: relative;
  }

  .card2:before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }

  .card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
  }

  .card2:hover .card__background {
    transform: scale(1.05) translateZ(0);
  }

  .card-grid:hover>.card2:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }

  .card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }

  .card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }

  .card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  .ts {
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 30%);
  }

  .hollow {
    -webkit-text-stroke: 3px #95d074;

    -webkit-text-fill-color: transparent;
  }

  .hollow-w {
    -webkit-text-stroke: 4px white;
    font-size: 50px;
    -webkit-text-fill-color: transparent;
  }

  .cardShadow {
    -webkit-box-shadow: 5.5px 3.5px 2px 3px #16a34a;
    -moz-box-shadow: 5.5px 3.5px 2px 3px #16a34a;
    box-shadow: 5.5px 3.5px 2px 3px #16a34a;
  }

  .sd {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  /* .gd {
    background: rgb(149,208,116);
    background: radial-gradient(circle, rgba(149,208,116,1) 0%, rgba(255,255,255,1) 100%);
  } */

  .card {
    color: inherit;
    cursor: pointer;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    position: relative;
    ;
  }

  @media screen and (max-width: 800px) {
    .card {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .card {
      width: 100%;
    }
  }

  .front,
  .back {
    display: flex;
    /* border-radius: 1rem; */
    background-position: center;
    background-size: cover;
    /* text-align: center; */
    /* justify-content: start; */
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform ease-in-out 600ms;
    /* transition: border ease-in 200ms; */
  }

  .front {
    background-size: cover;
    /* padding: 1rem; */
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
  }

  .front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(135deg, #1a9be6, #1a57e6); */
    opacity: 0.25;
    z-index: -1;
  }

  .card:hover .front {
    transform: rotateX(180deg);
  }

  .card:nth-child(even):hover .front {
    transform: rotateX(-180deg);
  }

  .back {
    /* background: #fff; */
    transform: rotateX(-180deg);
    padding: 0 1rem;
  }

  .back .button {
    background: linear-gradient(135deg, #95d074, #6da54d);
    padding: 1rem 2rem;
  }

  .back .button:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
  }

  .card:hover .back {
    transform: rotateX(0deg);
  }

  .card:nth-child(even) .back {
    transform: rotateX(180deg);
  }

  .card:nth-child(even) .back .button {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
  }

  .card:nth-child(even) .back .button:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
  }

  .card:nth-child(even):hover .back {
    transform: rotateX(0deg);
  }

  .button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
  }

  .button:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: "";
    transform: translateZ(-40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
  }

  .button:hover {
    transform: translateZ(55px);
  }

  .button:hover:before {
    transform: translateZ(-55px);
  }

  .button:active {
    transform: translateZ(20px);
  }

  .button:active:before {
    transform: translateZ(-20px);
    top: 12px;
  }

  /* .card__description svg {
    width: 1.5em;
    height: 1.5em;
    fill: #fff;
  } */

  .rangeen {
    /* @apply bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm: text-5xl; */
  }

  .bg1 {
    background: rgb(81, 140, 164);
    background: linear-gradient(90deg,
        rgba(81, 140, 164, 1) 0%,
        rgba(255, 255, 255, 1) 60%);
  }

  .bg2 {
    background: rgb(56, 189, 248);
    background: linear-gradient(180deg,
        rgba(56, 189, 248, 1) 0%,
        rgba(255, 255, 255, 1) 60%);
  }

  .quiz-bg {
    background: rgb(81, 140, 164);
    background: linear-gradient(180deg,
        rgb(81, 140, 164) 0%,
        rgba(255, 255, 255, 1) 76%);
  }
}